
#wrap{
    min-height: 85vh; min-width: 90vw;
}

#welcomeImage{
    background-image: url('https://res.cloudinary.com/myprojectresources/image/upload/projectscape/welcome');
    background-size: contain; 
    background-repeat: no-repeat;
    width:70vw; 
    height:40vw;
}

p{
    width:70%;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top:50%;
    height:25%;
    
}
p a{
    font-size: inherit;
    font-weight:bold;
}

.hover-logo:hover{
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width: 900px){
    #welcomeImage{
        width:100vw;
        height: 56.25vw;
    }
}

@media only screen and (max-width: 650px){
    p{
        font-size: small;
    }
}

@media only screen and (max-width: 500px){
    p{
        font-size:xx-small;
    }
}